
/*LAMBORGHINI VERSION*/



/*FOR BAR*/

.icon-bar {
    width: 100%; /* Full-width */
    height: 5em;
    background-color:  rgba(150, 150, 150, 0.0);
    overflow: auto; /* Overflow due to float */
  }
  
  .icon-bar a {
    float: left; /* Float links side by side */
    text-align: center;
    width: 25%; /* Equal width (5 icons with 20% width each = 100%) */
    height: 3em;
    padding: 2px 0;
    transition: all 0.3s ease;
    color: rgb(255, 255, 255);
    font-size: 36px;
  }

  .icon-bar a:hover {
    background-color: #000;
  }

  

.product {
    display: flex;
    flex-wrap: wrap;   
    width: 25em; 
    background-color: rgb(253, 253, 253);
    padding: 0 1em;
    margin: 1em 0;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0,0,0,0.4);
  }

  .products {
    display: grid;
    flex-wrap: wrap;
  }
  /* FOR GRID
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px;
  }
*/
  

/*ORIGINAL FROM FILE*/

.stars {
color: rgb(119, 119, 119);   
}


body {
    background-color: rgb(253, 194, 255);
    color: #111;
    font: 1em helvetica, arial, serif;
}

.country {
    font-family: Georgia, serif;
    color: #666;
}
.country: hover {
    background-color: #999;
}